In [1]:
import functions.data_utilities as data_u

In [2]:
import pandas as pd
import numpy as np
import pickle
import os
import functions.data_utilities as data_u
import functions.dict_utilities as dict_u
import functions.nlp_utilities as nlp_u
import time

#from jupyterthemes import jtplot
#jtplot.style()
%load_ext autoreload
%autoreload 2
%matplotlib inline

data_folder = '../data/'
dict_dir = data_folder + 'data_dict.pkl'

In [3]:
data_folder = 'data/'
dict_dir = data_folder + 'data_dict.pkl'

In [4]:
%%time
search_words = ['Google', 'Exxon']
news_to_read = "Reuters"
data_u.add_news_to_dict(search_words, data_folder, news_to_read, dict_dir)
data_dict = dict_u.get_dict(dict_dir)
print(f"Tickers added : {data_dict.keys()}\n")
print(f"Number of news in ticker {search_words[0]} : {len(data_dict[search_words[0].lower()])}")

Tickers added : dict_keys(['google', 'exxon'])

Number of news in ticker Google : 3608
Wall time: 28min 54s

In [14]:
data_dict["exxon"]

,Text,Author,Date,Label
0,"ANCHORAGE, Alaska (Reuters) - Exxon Mobil ( X...",[Yereth Rosen],2006-10-20 06:15:00,-6.256256
15,NEW YORK (Reuters) - U.S. stocks should exten...,"[ers, Chris S]",2006-10-23 05:24:00,-14.304306
16,CALGARY/LONDON (Reuters) - Royal Dutch Shell ...,"[Tom Bergin, Scott Haggett]",2006-10-23 04:34:00,-14.304306
89,"YUZHNO-SAKHALINSK, Russia (Reuters) - Russian...",[Mikhail Yenukov],2006-10-25 11:31:00,-7.402420
96,NEW YORK (Reuters) - U.S. stocks rose on Wedn...,[Vivianne Rodrigues],2006-10-25 06:35:00,-7.402420
...,...,...,...,...
106176,LONDON (Reuters) - U.S. refiners are expected...,[Ron Bousso],2013-11-13 11:25:00,-8.974030
106283,(Reuters) - Warren Buffett's Berkshire Hathawa...,"[Luciana Lopez, Jonathan Stempel]",2013-11-14 07:52:00,-2.217163
106428,HONG KONG (Reuters) - Exxon Mobil Corp ( XOM....,"[Charlie Zhu, Denny Thomas]",2013-11-19 12:49:00,1.731781
106446,NEW YORK (Reuters) - Short-seller Jim Chanos ...,"[Ernest Scheyder, Katya Wachtel]",2013-11-19 03:04:00,1.731781
106448,LONDON (Reuters) - Iraq's oil industry is poi...,"[Alex Lawler, Peg Mackey]",2013-11-19 11:48:00,1.731781

In [17]:
data_u.retrieve_data_from_yahoo_finance('TSLA')

Date
2010-06-29      4.778000
2010-06-30      4.766000
2010-07-01      4.392000
2010-07-02      3.840000
2010-07-06      3.222000
                 ...
2021-02-08    863.419983
2021-02-09    849.460022
2021-02-10    804.820007
2021-02-11    811.659973
2021-02-12    816.119995
Name: Close, Length: 2676, dtype: float64